@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Salsa&family=Sedgwick+Ave+Display&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/* music player */
/* loading screen */

/* for everything */
* {
    /* background-color: black; */
    font-family: 'Yeseva One', serif;
    /* border: 0; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* what is wrapper doing */
#wrapper {
    position: relative;
    top: 200px;
}

/* h1 */
h1 {
    font-family: 'Salsa', cursive;
    color: white;
    font-size: 100px;
}
/* for all body */
body {
    font-family: 'Yeseva One', serif;
    background-color: black;
    display: grid;
    place-items: center;
    min-height: 100hv;
    overflow: hidden;
}
/* bubbles */
.flying {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.bubbles {
    position: fixed;
    top: 0;
    z-index: -1; 
    display: flex;
    pointer-events: none; 
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    animation-delay: 3s;
}
.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
/* bubbles */

/* digital clock */
.clock {
    position: absolute;
    top: 2%;
    right: 88%;
    transform: translateX(-50%) translateY(-50%);
    color: #ff2d7544;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    letter-spacing: 5px;
    border: 1px solid #ff2d75;
    box-shadow: 3px 7px 26px #ff2d75;
    border-radius: 8px;
    background-color: black;
}









/* github button specifics */
.githubBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    min-height: 100hv;
    position: relative;
    /* change position up and down */
    top: 300px;
    z-index: 1;
    background-color: black;
}


/* discord button specifics */
.discordBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    min-height: 100hv;
    position: relative;
    /* change position up and down */
    top: 320px;
    z-index: 1;
    background-color: black;
}

/* all for github button and spotify */
.githubBtn a {
    position: relative;
    border: 2px solid white;
    color: rgb(198, 180, 180);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 20px 25px #0690fd44;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}

.githubBtn a:hover {
    width: 200px;
    transition-delay: 0.5s;
}

.githubBtn a::before {
    content: "";
    position: absolute;
    right: 25px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}

.githubBtn a:hover::before {
    transform: rotate(45deg) translate(50px, -50px);
}

.githubBtn a::after {
    content: "";
    position: absolute;
    left:-50px;
    height: 12px;
    width: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translate(-50px,50px);
}

.githubBtn a:hover::after {
    transform: rotate(45deg) translate(50px, -50px);
    transition-delay: 1s;
}

.githubBtn a span {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: 0.5s;
    transform: translate(-30px);
}

.githubBtn a:hover span {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.75s;
    transform: translate(10px);
}
/* finish github/spotify button */

/* discord and instagram button */
.discordBtn a {
    position: relative;
    border: 2px solid white;
    color: rgb(198, 180, 180);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 20px 25px #0690fd44;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}

.discordBtn a:hover {
    width: 200px;
    transition-delay: 0.5s;
}

.discordBtn a::before {
    content: "";
    position: absolute;
    right: 25px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}

.discordBtn a:hover::before {
    transform: rotate(45deg) translate(50px, -50px);
}

.discordBtn a::after {
    content: "";
    position: absolute;
    left:-50px;
    height: 12px;
    width: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translate(-50px,50px);
}

.discordBtn a:hover::after {
    transform: rotate(45deg) translate(50px, -50px);
    transition-delay: 1s;
}

.discordBtn a span {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: 0.5s;
    transform: translate(-30px);
}

.discordBtn a:hover span {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.75s;
    transform: translate(10px);
}



/* text right to left */
.right-left p{
    position: absolute;
    white-space: nowrap;
    animation: floatText 5s infinite alternate ease-in-out;
    top: 84.3%;
    font-size: 12px;
    font-family: 'Nerko One', cursive;
    z-index: 1;
}
.right-left span {
    color: white;
}
.right-left a {
    color: white;
    text-decoration: none;
}

@-webkit-keyframes floatText{
  from {
    left: 36.5%;
  }

  to {
    /* left: auto; */
    left: 60.5%;
  }
}

.stop-left {
    position: absolute;
    font-size: 14px;
    color: white;
    left: 36%;
    top: 84%;
}
.stop-right {
    position: absolute;
    font-size: 14px;
    color: white;
    right: 36%;
    top: 84%;
}




#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 1s forwards;
    animation-delay: 3s; /* Delay the start of the animation by 5 seconds */
}
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

h3 {
    color: white;
    font-size: 60px;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}






